<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plushiness 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
	<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<span class="icon icon-group"></span>
			<h1><a href="#">취준생을 위한 기업분석</a></h1>
			<span>Made by <a href="https://github.com/hanseokOh/Korean_News_summarization" rel="nofollow">귀찮은 취준생</a></span>
		</div>
		<div id="triangle-up"></div>
	</div>
</div>
<div id="menu-wrapper">
		<div id="menu">
			<ul>
				<li><a href="#" accesskey="1" title=""><p>
					<font size="4.5"; color="white">
						분석을 원하는 기업명과 관심 날짜를 입력하세요</font>
				</p></a></li>
			</ul>
		</div>
</div>
<div class="wrap">
	<form action = "http://localhost:5000/show" method="post">
	<p><div class="search">
	  <input type="text" class="searchTerm" placeholder="기업명을 입력하세요" name="query">
	</div></p>
	<p><div class="search">
		<input type="text" class="searchTerm" placeholder="원하는 날짜를 입력하세요 (ex. 2019.03.31)"name="e_date">
	</div></p>
		<button type="submit" class="searchButton" value="검색">
		<i class="fa fa-search"></i>
		</button>
	</div></form>
</div>

</body>
</html>
