<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Plushiness
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131117

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static', filename='fonts.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#accordion" ).accordion();
} );
</script>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
   <div id="header" class="container">
      <div id="logo">
         <span class="icon icon-group"></span>
         <h1><a href="/">취준생을 위한 기업분석</a></h1>
         <span>Made by <a href="https://github.com/hanseokOh/Korean_News_summarization" rel="nofollow">귀찮은 취준생</a></span>
      </div>
      <div id="triangle-up"></div>
   </div>
</div>
<div id="menu-wrapper">
      <div id="menu">
         <ul>
            <li class="current_page_item"><a href="show" accesskey="1" title="">이슈 분류</a></li>
            <li><a href="LDA_Visualization" target= "_blank" accesskey="2" title="">이슈 시각화</a></li>
            <li><a href= "Search_Trend" accesskey="3" title="">검색 트랜드</a></li>
            <li><a href="Financial_Report" accesskey="4" title="">재무제표 분석</a></li>
         </ul>
  </div>
</div>
<div id="wrapper">
   <style>
			div { text-align: center; }
		</style>
   <div id="featured-wrapper">
      <h2>'{{query}}'에 대한 검색 트랜드 결과입니다.</h2>
      <h3>관심 기간내 상대적 검색 빈도추이를 나타냅니다.</h3>
    </div>
   <div id="image-wrapper">
      <img src="static/images/Trends/{{query}}_trend.png" alt = "NO trend Image" align="center" width="1400" height="700">
   </div>
</div>
</body>
</html>
